client/WPF_client/WPF_client/Connected Services/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService.DatabaseManagers.Records" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService.DatabaseManagers.Records" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRecord" nillable="true" type="tns:UserRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRecord" nillable="true" type="tns:ArrayOfUserRecord" />
  <xs:complexType name="UserRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRecord" nillable="true" type="tns:UserRecord" />
  <xs:complexType name="ArrayOfRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Record" nillable="true" type="tns:Record" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecord" nillable="true" type="tns:ArrayOfRecord" />
  <xs:complexType name="Record">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Record" nillable="true" type="tns:Record" />
</xs:schema>