client/WPF_client/WPF_client/Connected Services/ServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61310/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService.DatabaseManagers.Records" />
  <xs:element name="SelectAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFService.DatabaseManagers.Records" minOccurs="0" name="SelectAllUserResult" nillable="true" type="q1:ArrayOfUserRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllPerson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFService.DatabaseManagers.Records" minOccurs="0" name="SelectAllPersonResult" nillable="true" type="q2:ArrayOfRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>